@tailwind base;
@tailwind components;
@tailwind utilities;

.hero_one {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('./assets/greenhouse.jpg') no-repeat center center / cover;
}

* {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
}
